<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Verification Code</title>
</head>
<body>
    <p>Your username is: <span style="color: #2196F3;" th:text="${username}"></span>,</p>
    
    <p>We received a request to reset your password. Your verification code is:</p>
    
    <h2 style="color: #2196F3; font-size: 24px; margin: 20px 0;" th:text="${code}"></h2>
    
    <p>This code will expire in 10 minutes. If you did not request a password reset, please ignore this email.</p>
        
    <p>We wish you a pleasant experience!<br>
    Ebbi</p>
</body>
</html>